---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
---

<LayoutDefault>
  <article class="heti">
    <h1>About</h1>

    <p>
      Hi，我是 Millie，也可以叫我米粒。來自台灣的
      Frontend-designer，近期喜歡用「croissant」來當作代表個人的
      emoji，因為覺得可頌的形狀很可愛。
    </p>
    <p>
      重視自我成長，對諸多事物充滿好奇心，喜歡嘗試各種新鮮的事物，但整體來說似乎有點三分鐘熱度......近期正在努力改善這個缺點。
    </p>
    <p>
      一邊行走在自學 UI/UX 設計及 Front-end
      programming這條漫漫長路，一邊記錄自己的生活及成長軌跡。
    </p>
    <p>
      希望在忙碌之餘，也能廣泛閱讀、增進自己的涵養與視野，相信文字能夠為生活帶來許多力量。
    </p>

    <h2>Languege and Tools</h2>
    <p>
      <b>已習得：</b>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Vue</li>
        <li>Figma</li>
      </ul>
      <b>想開拓的技能：</b>
      <ul>
        <li>React</li>
        <li>Nuxt.js</li>
        <li>Vite（Vue 宇宙）</li>
      </ul>
    </p>

    <blockquote>
      如果對我發表的文章產生共鳴，歡迎隨時<a
        href="https://twitter.com/Mi11ieeeHowdy">聯絡我</a
      >，來和我聊聊天吧！若在技術內文有發現錯誤，也請不吝指教，協助我將正確的資訊推廣給更多人知道
      🫶
    </blockquote>
  </article>
</LayoutDefault>
